<div class="styleguide-buttons mbl">

  <h2>Buttons</h2>

  <h4>Primary Buttons</h4>
  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Default</label>
      <button class='btn btn-primary' name="button">Button</button>
    </div>
  </div>

  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Default</label>
      <button class='btn btn-primary' disabled=disabled name="button">Button</button>
    </div>
  </div>

  <div class="fg-row ">
    <div class="fg-col-xs">
      <label for="">Large</label>
      <button class='btn btn-primary btn-lg' name="button">Large Button</button>
    </div>
  </div>

  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Small</label>
      <button class='btn btn-primary btn-sm' name="button">Small Button</button>
    </div>
  </div>

  <h4>Secondary Buttons</h4>
  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Default</label>
      <button class='btn btn-secondary' name="button">Button</button>
    </div>
  </div>

  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Large</label>
      <button class='btn btn-secondary btn-lg' name="button">Large Button</button>
    </div>
  </div>

  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Small</label>
      <button class='btn btn-secondary btn-sm' name="button">Small Button</button>
    </div>
  </div>

  <h4>Outline Buttons</h4>
  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Default</label>
      <button class='btn btn-primary-outline' name="button">Join Now</button>
    </div>
  </div>
  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Large</label>
      <button class='btn btn-lg btn-primary-outline' name="button">Join Now</button>
    </div>
  </div>
  <div class="fg-row">
    <div class="fg-col-xs">
      <label for="">Small</label>
      <button class='btn btn-sm btn-primary-outline' name="button">Join Now</button>
    </div>
  </div>

  <h4>Buttons as a link</h4>

    <div class="fg-row">
      <div class="fg-col-xs">
        <label for="">Default</label>
        <button class='btn btn-link' name="button">Join Now</button>
      </div>
    </div>
    {{#freestyle-note }}
      ###sadlfsja
      ```html
       <button class='btn btn-link' name="button">Join Now</button>
      ```
    {{/freestyle-note}}
</div>
