<div class="styleguide">
  <div class="fg-row">
    <div class="fg-col-xs-12 fg-col-sm-3 fg-col-md-2 fg-col-lg-1">
      <div class="box-row">
        side bar nav
      </div>
    </div>
    <div class="fg-col-xs-12 fg-col-sm-9 fg-col-md-10 fg-col-lg-11">
      <div class="box-row">
        {{outlet}}
        <h1>styleguide</h1>
      </div>
    </div>
  </div>
  <div class="fg-row">
    <div class="nav-sidebar fg-col-xs-12 fg-col-sm-3 fg-col-md-2 fg-col-lg-1">
      side bar nav
    </div>
    <div class="nav-sidebar fg-col-xs-12 fg-col-sm-9 fg-col-md-10 fg-col-lg-11">
      {{outlet}}
      <h1>styleguide</h1>
    </div>
  </div>

  <div class="fg-row">
  <div class="fg-col-xs-offset-3 fg-col-xs-9">
    <div class="box">offset</div>
  </div>
</div>

</div>
