<div class="styleguide">
  <div class="fg-row">
    <div class="side-bar fg-col-xs-3">
      <nav class="pam">
        <h4>Style Guide</h4>
        <ul>
          <li>{{link-to 'buttons' 'buttons'}}</li>
          <li>colors</li>
          <li>typography</li>
          <li>forms</li>
        </ul>
        <h4>Components</h4>
        <ul>
          <li>action-button</li>
        </ul>
      </nav>
    </div>
    <div class="fg-col-xs-9">
      {{outlet}}
    </div>
  </div>
</div>
