<div class="styleguide">

{{#freestyle-guide
  title='Ember Freestyle'
  subtitle='Living Style Guide'
  }}

  {{#freestyle-section name='Visual Style' as |section|}}

    {{#freestyle-subsection name='Typography' section=section}}

      {{#freestyle-usage 'typography-open-sans' title='Open sans'}}
        {{freestyle-typeface fontFamily='Open sans'}}
      {{/freestyle-usage}}

    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Color' section=section}}

      {{#freestyle-usage title='Outdoosy Color Palette'}}
        {{freestyle-palette
        colorPalette=colorPalette

        }}
      {{/freestyle-usage}}

      {{#freestyle-usage title='Utility Palette'}}
        {{freestyle-palette
        colorPalette=grayPalette
        title='Utility Palette'
        }}
      {{/freestyle-usage}}

    {{/freestyle-subsection}}

  {{/freestyle-section}}

  {{#freestyle-section name='Components' as |section|}}
    {{#freestyle-subsection name='Buttons' section=section}}
      {{#freestyle-annotation}}
        <h4>Primary Button</h4>
        <button class='btn btn-primary' type="button" name="button">Primary</button>
      {{/freestyle-annotation}}

      {{#freestyle-annotation}}
        <h4>Secondary Button</h4>
        <button class='btn btn-secondary' type="button" name="button">Secondary</button>
      {{/freestyle-annotation}}

    {{/freestyle-subsection}}
    {{#freestyle-subsection name='Review Stars' section=section}}

      {{#freestyle-usage}}
        {{review-stars score=3 count=5}}
      {{/freestyle-usage}}

    {{/freestyle-subsection}}
  {{/freestyle-section}}
{{/freestyle-guide}}
</div>
