<h2>Buttons</h2>

<h4>Primary Buttons</h4>
<div class="fg-row">
  <div class="col-xs">
    <label for="">Default</label><br>
    <button class='btn btn-primary' name="button">Button</button>
  </div>
</div>

<div class="fg-row">
  <div class="col-xs">
    <label for="">Large</label><br>
    <button class='btn btn-primary btn-lg' name="button">Large Button</button>
  </div>
</div>

<div class="fg-row">
  <div class="col-xs">
    <label for="">Small</label><br>
    <button class='btn btn-primary btn-sm' name="button">Small Button</button>
  </div>
</div>

<h4>Secondary Buttons</h4>
<div class="fg-row">
  <div class="col-xs">
    <label for="">Default</label><br>
    <button class='btn btn-secondary' name="button">Button</button>
  </div>
</div>

<div class="fg-row">
  <div class="col-xs">
    <label for="">Large</label><br>
    <button class='btn btn-secondary btn-lg' name="button">Large Button</button>
  </div>
</div>

<div class="fg-row">
  <div class="col-xs">
    <label for="">Small</label><br>
    <button class='btn btn-secondary btn-sm' name="button">Small Button</button>
  </div>
</div>

<div class="fg-row">
  <div class="col-xs">
    <label for="">outline</label><br>
    <button class='btn btn-primary-outline pull-right' name="button">Join Now</button>
  </div>
</div>
